
.actions{
    display: flex;
    justify-content: space-between;
}

.noteField{
    display: flex;

    .speechButtons{
        display: flex;
        flex-direction: column;
    }
}

.speechButton{
    margin-top: -5px;
    margin-left: -10px;
    .large-icon{
        font-size: 25px; 
    }
}