<h1 mat-dialog-title>Dodaj notatkę</h1>
<div mat-dialog-content class="content">

  <mat-form-field appearance="fill">
    <mat-label>Data pracy</mat-label>
    <input matInput [matDatepicker]="datePicker" [(ngModel)]="data.date">
    <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
    <mat-datepicker #datePicker></mat-datepicker>
  </mat-form-field>

    <div *ngIf="isListening" class="listening_indicators">
      <div class="listening_indicator_1"> </div>
      <div class="listening_indicator_2"> </div>
      <div class="listening_indicator_3"> </div>
    </div>

  <div class="noteField">
  <mat-form-field appearance="fill">
    <mat-label>Notatka</mat-label>
    <textarea rows="4" matInput [(ngModel)]="data.note" #noteArea>
    </textarea>
  </mat-form-field>
  <div class="speechButtons">
    <button mat-icon-button class="speechButton" (click)="recording()"> <mat-icon class="large-icon">microphone</mat-icon></button>
    <button mat-icon-button class="speechButton" (click)="stop()"> <mat-icon class="large-icon">stop</mat-icon></button>
    <button mat-icon-button class="speechButton" (click)="hearing()"> <mat-icon class="large-icon">waves</mat-icon></button>
  </div>
</div>
  <mat-form-field appearance="fill">
    <mat-label>Zebrany miód [l]</mat-label>
    <input type="number" matInput [(ngModel)]="data.honey">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Zapewniony syrop [l]</mat-label>
    <input type="number" matInput [(ngModel)]="data.syroup">
  </mat-form-field>

<div mat-dialog-actions class="actions">
  <button mat-button (click)="onNoClick()">Anuluj</button>
  <button mat-button [mat-dialog-close]="data">Zapisz</button>
</div>
