<div class="pageHeader">
  <button mat-icon-button class="goBackButton" (click)="goToStartPage()"> <mat-icon class="large-icon">undo</mat-icon></button>
  <h1 class="title">
      Pasieka
  </h1>
  <button mat-icon-button class="goBackButton" (click)="openHelpDialog()"> <mat-icon class="large-icon">help</mat-icon></button>

</div>
<div class="apiaryStats">
  <h1 class="subtitle">Stan pasieki</h1>
  <p class="infoText">Liczba uli:  {{beeHivesCount}}</p>
  <p class="infoText">Liczba ramek:  {{framesCount}}</p>
  <p class="infoText">Liczba korpusów:  {{corpsCount}}</p>
</div>

<div class="hives">
  <div class="hivesHeader">
    <h1 class="subtitle">Ule</h1>
    <div class="optionButtons">
      <button mat-raised-button class="addButton" (click)="openAddHiveDialog()">Dodaj nowy ul</button>
    </div>
  </div>
  <div class="search">
    <input class="infoInput" type="text" placeholder="Szukaj po nazwie" (input)="search($event)">
  </div>
  <div class="hivesTable">
      <table mat-table [dataSource]="dataSource"  class="custom-mat-table">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let element">{{element.id}}</td>
        </ng-container>
      
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Nazwa</th>
          <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>
      
        <ng-container matColumnDef="queen">
          <th mat-header-cell *matHeaderCellDef>Królowa</th>
          <td mat-cell *matCellDef="let element">{{element.queen}}</td>
        </ng-container>
      
        <ng-container matColumnDef="frames">
            <th mat-header-cell *matHeaderCellDef>Liczba ramek</th>
            <td mat-cell *matCellDef="let element">{{countFramesInHive(element)}}</td>
          </ng-container>

          <ng-container matColumnDef="corps">
            <th mat-header-cell *matHeaderCellDef>Liczba korpusów</th>
            <td mat-cell *matCellDef="let element">{{countCorpsInHive(element)}}</td>
          </ng-container>

          <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">   
              <button mat-icon-button (click)="editHive(element.id)"> <mat-icon>edit</mat-icon></button>
              <button mat-icon-button (click)="deleteHive(element.id)"> <mat-icon>delete</mat-icon></button>
            </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
      </table>      
    </div>
</div>