<div class="header">
  <img src="beeLogo.ico" class="logo">
  <h1 class="title">{{title}}</h1>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>
 {{ text}}
<button (click)="speak()">Speak</button>
<button (click)="stop()">Stop</button>
<button (click)="startListening()" [disabled]="isListening">Start Listening</button>
<button (click)="stopListening()" [disabled]="!isListening">Stop Listening</button>

<div class="footer">
  <p class="authors">Autorzy projektu: Jan Hernas i Stanisław Izdebski</p>
</div>