<div class="paginator">
<div class="section">
    <h2>Dodawanie ula</h2>
    <ol>
        <li>Przejdź na stronę <strong>Pasieka</strong>.</li>
        <li>Kliknij przycisk <strong>Dodaj ul</strong>.</li>
        <li>Wypełnij formularz (nazwa ula, królowa ula, korpusy).</li>
        <li>Kliknij <strong>Utwórz ul</strong>.</li>
    </ol>
</div>

<div class="section">
    <h2>Usuwanie ula</h2>
    <ol>
        <li>Przejdź na stronę <strong>Pasieka</strong>.</li>
        <li>Odszukaj ul (lista lub pasek wyszukiwania).</li>
        <li>Kliknij ikonę usuwania obok ula.</li>
    </ol>
</div>

<div class="section">
    <h2>Edycja ula</h2>
    <ol>
        <li>Przejdź na stronę <strong>Pasieka</strong>.</li>
        <li>Odszukaj ul (lista lub pasek wyszukiwania).</li>
        <li>Kliknij ikonę edycji obok ula.</li>
        <li>Zmień wartości wybranych pól.</li>
        <li>Kliknij <strong>Zapisz zmiany</strong>.</li>
    </ol>
</div>
</div>